<!-- <div class="container col-md-4 col-md-push-2"> -->
<div class="col-md-6">
	<div class="jumbotron">
		<div class="container">
		  <h1 class="display-4">Hi Man!</h1>
		  <p class="lead">Did you ever wonder what it feels like working on silicon valley?! Did you ever thought to yourself wow! it must be so cool to work from China?!? You came to the right place! Here we find your dream job all around the world</p>
		  <hr class="my-4">
		  <p>Be a part of us! Sign up today and start looking your next challenge around the world.</p>
		  <p class="lead">
		    <a class="btn btn-default btn-lg" href="/users/sign_up" role="button">Sign Up Now</a>
		  </p>
	  </div>
	</div>
</div>
<!-- </div> -->