<body>
	<div class="row-search">
	  <div class="col-lg-12">
	    <div class="input-group col-lg-5">
	      <input type="text" id="input-opportunities-search" class="form-control" placeholder="Search For New Opportunities">
	      <span class="input-group-btn">
	        <button id="submit-opportunities-search" class="btn btn-default" type="submit">Search</button>
	      </span>
	    </div>
	    <div id="search-results" class="search-results"></div>
	  </div>
	</div>
	<div class="spinner"></div>
</body>

<style>.break { display: inline-block; }</style>
<script src="/assets/opportunities.js" type="text/javascript"></script>