<body>
	<div class="row-search">
	  <div class="col-lg-12">
	    <div class="input-group col-lg-5">
	      <input type="text" id="input-opportunities-search" class="form-control" placeholder="Search For New Opportunities">
	      <span class="input-group-btn">
	        <button id="submit-opportunities-search" class="btn btn-default" type="submit">Search</button>
	      </span>
	    </div>
	    <div id="search-results" class="search-results"></div>
	  </div>
	</div>
	<div class="spinner"></div>
</body>

<style>
	.break { display: inline-block; }
	.spinner {
		display: none;
	  width: 40px;
	  height: 40px;
	  margin: 100px auto;
	  background-color: #333;

	  border-radius: 100%;  
	  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
	  animation: sk-scaleout 1.0s infinite ease-in-out;
	}

	@-webkit-keyframes sk-scaleout {
	  0% { -webkit-transform: scale(0) }
	  100% {
	    -webkit-transform: scale(1.0);
	    opacity: 0;
	  }
	}

	@keyframes sk-scaleout {
	  0% { 
	    -webkit-transform: scale(0);
	    transform: scale(0);
	  } 100% {
	    -webkit-transform: scale(1.0);
	    transform: scale(1.0);
	    opacity: 0;
	  }
	}
</style>
<!-- <script src="/assets/opportunities.js" type="text/javascript"></script> -->
<script type="text/javascript">
	$(document).ready(function() {
		$('#input-opportunities-search').keypress(function (e) {
		  if (e.which == 13) {
		    $('#submit-opportunities-search').trigger( "click" );
		  }
		});
	
		$('#submit-opportunities-search').click(function(){
			$('#submit-opportunities-search').attr("disabled", true);
			$(".spinner").show();
			$.ajax({
				type: "GET",
	  		url: "/opportunities/find",
	  		data: {
	  			"opportunities_query": {
	  				"title": $('#input-opportunities-search').val(),
	  				"location": null
	  			}
	  		},
	  		success: function(data) {
	  			$('#submit-opportunities-search').attr("disabled", false);
	  			$(".spinner").hide();
	  			$('#search-results').html("<br><h3>Results:</h3><hr>");
	  			
	  			appendResults(data);
	  		},
	  		error: function(xhr) {
	        alert(xhr.responseText);
	        $('#submit-opportunities-search').attr("disabled", false);
	  			$(".spinner").hide();
	      }
			});
		});
	});

	function appendResults(data) {
		if (data['count'] != 0) {
			var i = 0;
	  	for(var i in data['results']) {
				var panelBody = "<div class='panel-body'><div class='row'>";
				
				panelBody += "<div class='col-md-10'><p><b> Title: </b>" + data['results'][i]['title'] + "</p>";
				if (data['results'][i]['description']) {
					panelBody += "<p><b> Description: </b>" + data['results'][i]['description'] + "</p>";
				}
				var visaSponsorship = data['results'][i]['visa_sponsorship'] == true ? 'Yes' : 'No'
				var apartmentSponsership = data['results'][i]['apartment_sponsership'] == true ? 'Yes' : 'No'
				panelBody += "<p><b> Apartment Sponsership: </b>" + apartmentSponsership + "</p>";
				panelBody += "<p><b> Visa Sponsorship: </b>" + visaSponsorship + "</p></div>";
				panelBody += "</div></div>";
				
				$('#search-results').append(
					"<br><div class='panel panel-default'><div class='panel-heading'>" + 
					"<p><b>Title: </b>" + data['results'][i]['title'] + "</p>" +
					"</div>" + panelBody + "</div>"
				);	
			}
		} else {
			$('#search-results').append("<p>No matching results</p>");
		}
	}
</script>