// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
	width:180%;
	border: 1px solid;
	border-color: #e7e7e7;
	background-color: #F8F8F8;
}

hr {
	border-top: 1px solid #e7e7e7;
}
